/************HEADER*************/
header{
    width:100%;
    height: 70px;
    background-color: whitesmoke;
    border-bottom: 5px solid gold;
    
}
header .logo {
    float: left;
    width: auto;
    height: 64px;
    padding: 10px 0px 7px 30px;
}
header ul {
    float: right;
    list-style-type: none;
    overflow: visible;
    padding: 23px 40px 0px 0px;
    margin: 0px;
}
header ul li{
    display: inline;
}
header ul li h3{
    display: inline;
}
header ul li a{
    display: inline;
    font-size: 23px;
    padding-left: 15px;
    text-decoration: none;
    color: grey;
}
/***************Breadcrumb and Title*************************/
.admin-title{
    float:right;
    margin: 0;
    background-color: #f5f5f5;
    height: 37.33px;
    width: 82%;
    box-shadow: 4px 4px 10px #d9d9d9;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.admin-title .home-icon{
    display:inline;
    font-size: 20px;
    float:right;
    color: gold;
    padding: 7px 30px 0px 0px;
    margin: 0px;
}
.admin-title .sidenav-icon{
    display:none;
    font-size: 17px;
    float: left;
    color: gold;
    padding: 8px 0px 0px 25px;
    margin: 0px;
    cursor: pointer;
}
.admin-title .home-icon:hover{
    color: grey;
}
.admin-title .sidenav-icon:hover{
    color: grey;
}
.breadcrumb{
    float:left;
    background-color: inherit;
    margin:0px;
    padding-left: 25px;
}
.breadcrumb ul{
    list-style-type: none;
    padding: 0px;
    margin:0px;
}
.breadcrumb ul li{
    display: inline;
    font-size: 15px;
}
.breadcrumb ul li+li::before{
    content: ">";
    color: black;
    padding: 7px;
}
.breadcrumb ul li a{
    text-decoration: none;
    color: black;
}
.breadcrumb ul li a:hover{
    text-decoration: underline;
    color: grey;
}
/**************LEFT NAV********************/

nav{
    position:absolute;
    left:0; 
    width: 18%;
    height: 100%;
    background-color: #ededed;
    overflow-x: hidden;
    z-index: 2;
    padding-top:10px
}
nav ul{
    text-decoration: none;
    list-style-type: none;
    padding-left: 10px;
    margin-bottom: 30px;
    
}
nav ul .list-title{
    width: 90%;
    min-width:163.9;
    border-radius: 3px;
    background-color: #fcfcfc;
    font-weight: bold;
    font-size: 17px;
    padding-left: 10px;
}
nav ul .list-item {
    padding-left:5px;
    margin: 10px 0px;

}
nav ul .list-item a{
    color: black;
    padding: 8px 10px;
    width:100%;

}
nav ul .list-item a:hover{
    text-decoration: none;
    background-color: grey;
    color: white;
}
@media screen and (max-width:830px){
    nav ul .list-item a{
        font-size: 12px;
    }
}