@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.user-cart span {
    background-color: #FF5733;
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 16px;
    margin-left: -1.2rem;
}

/* Admin dashboard styling */
.card {
    background-color:#5A5A5A;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #1E1E1E;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E1E1E;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar .side-header {
    margin-left: 30px;
    margin-bottom: 8px;
    color: #fff;
}

.sidebar a:hover {
    background-color: #333333;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 34px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #fff;
    background-color: #333333;
}

.openbtn:hover {
    color: #FF5733;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 16px;
    }
}

/* Product table styling */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    margin-bottom: 50px;
}

td, th {
    padding: 10px 16px;
    text-align: center;
}

th {
    background-color: #333333;
    color: #fafafa;
    font-weight: bold;
}

tr {
    width: 100%;
    background-color: #fafafa;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

/* Login and sign up styling */
.card-container.card-account {
    max-width: 500px;
    padding: 30px 30px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

.card-account {
    background-color: #E5E5E5;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #333333;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: #FF5733;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #FF5733;
}

.btn.btn-signin {
    background-color: #333333;
    padding: 2px;
    font-weight: 700;
    font-size: 16px;
    height: 36px;
    border-radius: 3px;
    border: none;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #5A5A5A;
}

.box {
    position: relative;
    background-color: #222222;
}

.image {
    opacity: 1;
    display: block;
    max-width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: contain;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box:hover .image {
    opacity: 0.3;
}

.box:hover .middle {
    opacity: 1;
}

.text {
    background-color: #333333;
    color: #fff;
    font-size: 16px;
    padding: 6px;
    border-radius: 5px;
}

/* Cart to login icon styling */
.cart-login-btn {
    margin: 5px;
    border-style: outset;
}

.cart-login-btn a i {
    padding: 10px;
    font-size: 30px;
    color: #333333;
}

.cart-login-btn a i:hover {
    color: #5A5A5A;
}

/* Footer */
.footer-hover {
    color: #000;
}

.footer-hover:hover {
    color: #FF5733;
    text-decoration: none;
}
