@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* User cart */
.user-cart span {
    background-color: #007BFF;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 14px;
    margin-left: -1.2rem;
}

/* Admin dashboard styling */
.card {
    background-color:  #5A5A5A;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #1E1E1E;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E1E1E;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #adb5bd;
    display: block;
    transition: 0.3s;
}

.sidebar .side-header {
    margin-left: 30px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 600;
}

.sidebar a:hover {
    background-color: #495057;
    color: #ffffff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #ffffff;
    background-color: #495057;
}

.openbtn:hover {
    color: #007BFF;
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 16px;
    }
}

/* Product table styling */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    border-radius: 10px 10px 0 0;
    margin-bottom: 50px;
}

td, th {
    padding: 12px 15px;
    text-align: center;
}

th {
    background-color: #343a40;
    color: #ffffff;
    font-weight: 600;
}

tr {
    width: 100%;
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #f1f1f1;
}

